#bods{
   text-align:center;
    background-color:#F4F8F1;
}

#board{
    height: 540px;
    width: 630px;

    background-color: #b4c5a0ff;
    border: 10px solid #a5b394ff;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.title{
    height:70px;
    width: 70px;
    margin: 5px;

    background-color:white;
    border-radius: 50%;
    border: 5px solid #a5b394ff;
}
.red-piece{
    background-color: red;
}
.yellow-piece{
    background-color:yellow;
}
#turnDisplay{
    font-size: x-large;
}