#bods{
   text-align:center;
    background-color:#F4F8F1;
}
#connector{
    margin-top:10%;
}
#board{
    height: 540px;
    width: 630px;

    background-color: #b4c5a0ff;
    border: 10px solid #a5b394ff;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.title{
    height:70px;
    width: 70px;
    margin: 5px;

    background-color:white;
    border-radius: 50%;
    border: 5px solid #a5b394ff;
}
.red-piece{
    background-color: #82AE5B;
}
.yellow-piece{
    background-color:yellow;
}
#turnDisplay{
    font-size: x-large;
}
.pages{
    background-color: #A3C19F;
    list-style-type: none;
    margin:0;
    position:fixed;
    top:0;
    width: 100%;
    left:0;
}
.nclass {
    background-color:#A3C19F;
    float: left;
    display: block;
    color:Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
}

.nclass a {
    padding: 16px 16px 16px 16px;
    text-decoration: none;
}
.pages li a:hover{
    background-color:#C1D7AE;
}