body{
    background-color: #b9c4ab;
}
#rules {
    text-align: center;
    color: #4a4a48;
}
#text {
    text-align: center;
    color: #4a4a48;
}
#button {
    text-align: center;
    border-color: #a5b394;
    color: #4a4a48;
    border-radius: 8px;
}
.pages{
    background-color: #A3C19F;
    list-style-type: none;
    margin:0;
    position:fixed;
    top:0;
    width: 100%;
    left:0;
}
.nclass {
    background-color:#A3C19F;
    float: left;
    display: block;
    color:Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
}

.nclass a {
    padding: 16px 16px 16px 16px;
    text-decoration: none;
}
.pages li a:hover{
    background-color:#C1D7AE;
}