.space-empty, .space-p1, .space-p2 {
    font-size: 96px;
    width: 100px;
    height: 100px;
}
button {
    background-color: #c2d6c2;
    border: 5px solid #a5b394;
}
.p1-highlight, .p2-highlight {
    background-color: #b9c4ab;
}
body {
    text-align: center;
    background-color: #c2d6c2;
}