.space-empty, .space-p1, .space-p2 {
    font-size: 96px;
    width: 100px;
    height: 100px;
}
.p1, .space-p1, .space-p1-win {
    color: blue;
}
.p2, .space-p2, .space-p2-win {
    color: red;
}
.p1-highlight {
    background-color: lightblue;
}
.p2-highlight {
    background-color: pink;
}
#log {
    background-color: lightgray;
    width: 20%;
}