body{
    background-color: #b9c4ab;
}

#playerChoice {
    text-align: center;
    color: #4a4a48;
}
#computerChoice{
    text-align: center;
    color: #4a4a48;
}
#result{
    text-align: center;
    color: #4a4a48;
}
#rock {
    text-align: center;
    background-color: #c2d6c2;
    border-color: #a5b394;
    color: #4a4a48;
}

#paper{
    text-align: center;
    background-color: #c2d6c2;
    border-color: #a5b394;
    color: #4a4a48;
}
#scissors{
    text-align: center;
    background-color: #c2d6c2;
    border-color: #a5b394;
    color: #4a4a48;
}
#game{
    text-align: center;
    color: #4a4a48;
}
#text{
    text-align: center;
    color: #4a4a48;
}