body{
    background-color: #b9c4ab;
}
#rules {
    text-align: center;
    color: #4a4a48;
}
#text {
    text-align: center;
    color: #4a4a48;
}
#LinkToRPS {
    text-align: center;
    background-color: #c2d6c2;
    border-color: #a5b394;
    color: #4a4a48;
}